<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <meta name="description" content="A brief description" />
    <meta name="author" content="Rodrigo Pereira" />

    <!-- Open Graph Protocol -->
    <!-- <meta property="og:title" content="page title(page not website)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.mysite">
    <meta property="og:description" content="A brief description">
    <meta property="og:image" content="image.png">
    <meta property="og:site_name" content="Site Name"> -->

    <!-- <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

    <link rel="stylesheet" href="styles/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img id="logo" src="images/randart-logo.svg" alt="Randart logo" />
    </header>
    <main>
      <div class="painting-display">
        <img
          src="https://www.artic.edu/iiif/2/e966799b-97ee-1cc6-bd2f-a94b4b8bb8f9/full/843,/0/default.jpg"
          alt=""
        />
      </div>
      <div class="painting-description">
        <h2>Starry Night and the Astronauts</h2>
        <p>
          After decades as a representational painter, in her seventies Alma
          Thomas turned to abstraction, creating shimmering, mosaic-like fields
          of color with rhythmic dabs of paint that were often inspired by forms
          from nature. The artist had been fascinated with space exploration
          since the late 1960s, and her later paintings often referenced
          America’s manned Apollo missions to the moon. Although she had never
          flown, Thomas began to paint as if she were in an airplane, capturing
          what she described as shifting patterns of light and streaks of color.
          “You look down on things,” she explained. “You streak through the
          clouds so fast. . . . You see only streaks of color.”
        </p>
        <p>
          <em>Starry Night and the Astronauts</em> evokes the open expanse and
          celestial patterns of a night sky, but despite its narrative title,
          the work could also be read as an aerial view of a watery surface,
          playing with our sense of immersion within an otherwise flat picture
          plane. The viewer is immersed not only in the sense of organic expanse
          that this painting achieves, however, but also in an encounter with
          Thomas’s process: the surface here is clearly constructed stroke by
          stroke. Meanwhile, the glimpses of raw canvas between each
          primary-colored mark seem as vivid as the applied paint itself—almost
          as if the composition were backlit. Thomas relied on the enlivening
          properties of color throughout her late-blooming career. “Color is
          life,” she once proclaimed, “and light is the mother of color.” This
          painting was created in 1972, when the artist was eighty. In the same
          year, she became the first African American woman to receive a solo
          exhibition at a major art museum, the Whitney Museum of American Art
          in New York City.
        </p>
      </div>
    </main>
    <footer>
      <p>Copyright <%= new Date().getFullYear() %></p>
    </footer>

    <script src="js/scripts.js"></script>
  </body>
</html>
