* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 100px;
  border-bottom: solid black 2px;
}

#logo {
  height: 50px;
  width: auto;
}

.painting-display {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.painting-display > img {
  max-height: 600px;
  width: auto;
  margin: 100px 0;
}

.painting-description > p {
  font-size: 1.3em;
  margin: 50px 100px;
}

.painting-description > h2 {
  font-family: "Baskervville SC", serif;
  font-size: 2.5em;
  margin: 50px 100px;
}

footer {
  border-top: solid 2px black;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
